<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/toLogin">登陆</a>

<div>
    <h3>level1</h3>
    <p><a href="/level1/1">level1</a></p>
    <p><a href="/level1/2">level2</a></p>
    <p><a href="/level1/3">level3</a></p>
</div>

<div>
    <h3>level2</h3>
    <p><a href="/level2/1">level1</a></p>
    <p><a href="/level2/2">level2</a></p>
    <p><a href="/level2/3">level3</a></p>
</div>

<div>
    <h3>level3</h3>
    <p><a href="/level3/1">level1</a></p>
    <p><a href="/level3/2">level2</a></p>
    <p><a href="/level3/3">level3</a></p>
</div>
</body>
</html>